<configuration>
	<appSettings>
		<add key="DatabasePath" value="C:\TeamOps\DB\teamops.db" />

		<!-- Diretório onde os PR serão salvos -->
		<add key="PRDirectory" value="C:\TeamOps\PR\" />

		<!-- Caminho do arquivo modelo -->
		<add key="PRTemplate" value="C:\TeamOps\Modelos\ModeloPR.xlsx" />

		<!-- Diretório onde os CL serão salvos -->
		<add key="CLDirectory" value="C:\TeamOps\CL\" />

		<!-- Caminho do arquivo modelo -->
		<add key="CLTemplate" value="C:\TeamOps\Modelos\ModeloCL.xlsx" />

		<!-- Diretório onde os anexos do Hikitsugui serão salvos -->
		<add key="HikitsuguiAttachmentPath" value="C:\TeamOps\Anexo\Hikitsugui\" />

		<!-- Diretório onde ficam os arquivos CSV de schedule -->
		<add key="OperatorScheduleDirectory" value="C:\TeamOps\Schedule\" />
	</appSettings>
</configuration>
