<configuration>
	<appSettings>
		<add key="DatabasePath" value="C:\TeamOps\DB\teamops.db" />

		<!-- Diretório onde os PR serão salvos -->
		<add key="PRDirectory" value="C:\TeamOps\PR\" />

		<!-- Caminho do arquivo modelo -->
		<add key="PRTemplate" value="C:\TeamOps\Modelos\ModeloPR.xlsx" />

		<!-- Diretório onde os PR serão salvos -->
		<add key="CLDirectory" value="C:\TeamOps\CL\" />

		<!-- Caminho do arquivo modelo -->
		<add key="CLTemplate" value="C:\TeamOps\Modelos\ModeloCL.xlsx" />
	</appSettings>
</configuration>
